@{
    ViewData["Title"] = "Recibo de Caja ";
}

<!-- <div class="columns">
    <div class="column is-4">

    </div>
    <div class="column is-8">

    </div>
</div> -->
<div class="columns">
    <div class="column is-2"></div>
    <div class="column is-10">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Vales de Caja
                </p>
<!--                 <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a> -->
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Monto</th>
                                <th>Deuda</th>
                                <th class="level-right">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>24/11/2019</td>
                                <td>Joe Hendrick</td>
                                <td>20000.00</td>
                                <td><a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>V</a></td>
                                <td class="level-right">
                                    <a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>I</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>27/11/2019</td>
                                <td>Yovani Hernandez</td>
                                <td>50000.00</td>
                                <td><a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>V</a></td>
                                <td class="level-right">
                                    <a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>I</a>
                                </td>
                            </tr>
                                <tr>
                                <td>3</td>
                                <td>29/11/2019</td>
                                <td>Isaac Rodriguez</td>
                                <td>350000.00</td>
                                <td><a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>V</a></td>
                                <td class="level-right">
                                    <a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>I</a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>30/11/2019</td>
                                <td>Bocay Perez</td>
                                <td>75000.00</td>
                                <td><a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>V</a></td>
                                <td class="level-right">
                                    <a class="button is-small is-primary" href="#"><i class="fa fa-bell-o"></i>I</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>
            </footer>
        </div>
    </div>
</div>